<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <script type="text/javascript" src="C:\Clinica Node\ClinicaAndrade\public\javascripts\clinic.js"></script> -->
  </head>

  <body>
   
    <h1>Clinical History</h1>
    <h2>General Information</h2>
    <div class="wrapper"> 
    <div class="accordion">
        <button class="accordion">Pacient</button>
        <div class="panel">
          <p><a href="historial" style="text-decoration:none ">Save History</a></p>
        </div>
        <div class="panel">
          <p><a href="pacientList" style="text-decoration:none ">Pacients List</a></p>
        </div>
        <button class="accordion">Section 2</button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div>
        
        <button class="accordion">Section 3</button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div> 
    </div>
        <form method="POST" action="/historial">
          <div class="form">
            <label for="idNumber">Id Number</label>
            <input type="text" name="idNumber"  required class="text">
          </div>
          <div class="form">
            <label for="name">Name</label>
            <input type="text" name="name" required class="text"></div>
          <div class="form">
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" required class="text">
          </div>
          <div class="radio">
            <label for="socialInsurance" >Does the pacient have social insurance?</label>
          <p>
          <input type="radio" name="socialInsurance" checked class="yes" value=true >Yes</input>
          </p>
          <p>
          <input type="radio" name="socialInsurance" value=false>No</input>
          </p>
          </div>
          <div class="form">
            <label for="address" style="position: absolute; display: inline-block;margin-top:2%;">Address</label>
            <textarea style="margin-left:100%;width:20vw"  name="address"  required class="text"></textarea>
          </div>
          <div class="form">
            <label for="city">City</label>
            <input type="text" name="city" required class="text">
          </div>
          <div class="form">
            <label for="phone">Phone</label>
            <input type="text" name="phone" required class="text">
          </div>
          <div class="form">
            <label for="birthday">Birthday</label>
            <input type="date" name="birthday" required class="text">
          </div>
          <div class="form">
            <label for="race">Ethnic Group</label>
            <select name="race" class="list">
              <option value="white">White</option>
              <option value="hispanic">Hispanic</option>
              <option value="black">Black</option>
              <option value="other">Other</option>
            </select> 
          </div>
          <div class="form">
            <label for="educationLevel">Education Level</label>
            <select name="educationLevel" class="list">
              <option value="none">None</option>
              <option value="elementary">Elementary</option>
              <option value="highSchool">High School</option>
              <option value="college">College</option>
            </select> 
          </div>
          <div class="form">
            <label for="maritalStatus">Marital Status</label>
            <select name="maritalStatus" class="list">
              <option value="single">Single</option>
              <option value="married">Married</option>
              <option value="divorced">Divorced</option>
              <option value="widow">Widow</option>
            </select> 
          </div class="form">
          <div class="radio">
            <label for="knowWriteRead">Does the pacient knows write and read?</label>
            <p>
            <input type="radio" name="knowWriteRead" class="yes" checked value=true>Yes</input>
            </p>
            <p>
            <input type="radio" name="knowWriteRead" value=false>No</input>
            </p>
          </div>
          <div class="radio">
            <label for="livesAlone">Lives Alone?</label>
            <p>
              <input type="radio" name="livesAlone" class="yes" checked value=false>Yes</input>
              </p>
              <p>
              <input type="radio" name="livesAlone" value=false>No</input>
              </p>
            </div>
          <div class="form">
            <label for="controlPlace">Control Place</label>
            <input type="text" name="controlPlace" required >
          </div>
          <div class="form">
            <label for="childbirthPlace"> Child birth place</label>
            <input type="text" name="childbirthPlace" required>
          </div>

          </br>
          <input type="submit" value="Guardar" class="center" id="guardar" >
        </form>
      </div>
      <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            } 
          });
        }
        </script>
  </body>
</html>
