<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">
  </head>

  <body>
   
    <h1>Clinical History</h1>
    <h2>General Information</h2>
    <form method="POST" action="/historial2">
      <input type="text"  id="selectedRows" name="patient"  style="margin-left:45vw ; text-align:center" ></input>
      <input type="submit" value="Editar" title="Editar"  style="margin-left:45vw ; text-align:center" >
    </form>
    <div class="wrapper"> 
    <div class="accordion">
        <button class="accordion">Pacient</button>
        <div class="panel">
          <p><a href="historial" style="text-decoration:none ">Save History</a></p>
        </div>
        <div class="panel">
          <p><a href="pacientList" style="text-decoration:none ">Pacients List</a></p>
        </div>
        <button class="accordion">Section 2</button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div>
        
        <button class="accordion">Section 3</button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div> 
    </div>

    <div id="myGrid" style="height: 600px;width:500px;" class="ag-theme-balham"></div>       
    </div>
    
    <script type="text/javascript" charset="utf-8">
//  let dataPatient=new Object;
  // specify the columns
  var columnDefs = [
      {headerName: "Firt Name", field: "name"},
      {headerName: "Last Name", field: "lastName"},
      {headerName: "Id", field: "idNumber"}
    ];

 // specify the columns
//  var columnDefs = [
//       {headerName: "Make", field: "make"},
//       {headerName: "Model", field: "model"},
//       {headerName: "Price", field: "price"}
//     ];

    // let the grid know which columns to use
    var gridOptions = {
    columnDefs: columnDefs,
    rowSelection: 'single',
    onSelectionChanged: onSelectionChanged
    };

    function onSelectionChanged() {
    var selectedRows = gridOptions.api.getSelectedRows();
    var selectedRowsString = '';
    selectedRows.forEach( function(selectedRow, index) {
     // console.log(index+' ' +selectedRow); 
      if (index!==0) {
            selectedRowsString += ', ';
        }
        selectedRowsString += selectedRow.idNumber
    });


    //Store patient in a variable
   console.log('id: '+selectedRowsString);
    let ruta='http://localhost:3000/patient?id='+selectedRowsString;
    fetch(ruta).then(function(response) {
    return response.json();
  }).then(function(data) {
    // console.log(data[0]);
    // dataPatient=data[0];
    document.querySelector('#selectedRows').value = JSON.stringify(data[0]);
  });  
  //console.log(dataPatient);
  
 
 }

  // lookup the container we want the Grid to use
  var eGridDiv = document.querySelector('#myGrid');

  // create the grid passing in the div to use together with the columns & data we want to use
  new agGrid.Grid(eGridDiv, gridOptions);
  
  fetch('http://localhost:3000/patients').then(function(response) {
    return response.json();
  }).then(function(data) {
   
    gridOptions.api.setRowData(data);
  })   

        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            } 
          });
        }
        </script>
  </body>
</html>
